.git/**
.vscode/**
.gitignore
node_modules/**
src/**
scripts/**
index.html
*.log
*.local
*.tsbuildinfo
vite.config.ts
vitest.config.ts
tsconfig.json
tsconfig.extension.json
public/**
dist/**/*.map

dist/**
!dist/
!dist/index.html
!dist/assets/
!dist/assets/**
!dist/app-icon-space-64.png
!dist/app-icon-space-192.png
!dist/app-icon-space-512.png
!out/**
!README.md
!package.json
